@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    color: #777;
}

/* Nav */

.nav ul {
   margin: 0;
}

.nav li {
    display: inline;
    
}

.nav a {
    display: inline-block;
    padding: 15px;
    color: #fff;
    text-decoration: none;    
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* About Header*/

.main-header {
    height: 200px;
    background-color: rgba(0, 0, 0, .5);
    background-image: url('img/Header\ Background.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}